[Desktop Entry]
Categories=Education;Science;
Encoding=UTF-8
Exec=/opt/ampl-free/amplide/amplide
Icon=/opt/ampl-free/amplide/icon.xpm
Name=AMPL Free Ide 64bits (20270131)
Path=/opt/ampl-free/amplide/
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
